<input type="file" id={{randomId}} class={{inputClassNames}} name={{name}}
  disabled={{disabled}} multiple={{multiple}} tabindex={{tabindex}} accept={{accept}}>
<label for="{{randomId}}" class={{labelClassName}}>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{alt}}
  {{/if}}
</label>
