{{input id=randomId type="file" class="x-file--input" name=name
  disabled=disabled multiple=multiple tabindex=tabindex accept=accept}}

<label for="{{randomId}}">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{alt}}
  {{/if}}
</label>
