<div class="demo-wrapper">
  <h2 id="title">Basic Emberx-File-Input</h2>

  <div style="margin-bottom: 10px;">
    {{#x-file-input class="custom-class" action="uploadAPhoto" id="spec-file-input"}}
      <h3>Shall you upload?</h3>
    {{/x-file-input}}
  </div>

  <div>
    Non block:
    {{x-file-input class="custom-class" alt="Upload Something!"
      action="uploadAPhoto" id="spec-file-input-blockless"}}
  </div>
</div>

<div class="demo-wrapper">
  {{#x-file-input action="uploadAPhoto" id="spec-file-input-two"}}
    {{#if photoName}}
      <div style={{photoPreview}} class="demo-photo-preview"></div>
      <div class="photo-name">{{photoName}}</div>
    {{else}}
      <div class="demo-camera-icon"><i class="fa fa-camera-retro"></i></div>
    {{/if}}
  {{/x-file-input}}
</div>

<div class="demo-wrapper">
  {{x-file-input action="uploadManyFiles" class="custom-class"
    id="spec-file-input-three" multiple=true alt="Upload multiple"}}

  {{#each multiFiles as |file|}}
    <p class="file-name">
      {{file-icon file.type}}
      {{file.name}}
    </p>
  {{/each}}
</div>

<div class="demo-wrapper">
  {{x-file-input alt="Upload Reset" action="doSomething"
    id="spec-file-input-reset" class="custom-class"}}
</div>
